<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfZap - Suporte a Docentes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <meta name="facebook-domain-verification" content="851xwhz5wadslc6zzz30bxjrwtpb8q" />
</head>
<body>
    <div class="container">
        <div>
          <h1>ProfZap</h1>
          <p>Uma ferramenta de suporte a docentes</p>
        </div>
        <div>
          <img src="{{url_for('static', filename='img/Profzap.png')}}" alt="ProfZap Logo">
        </div>
    </div>
    <footer>
        Por JONATHAN HENRIQUE DE ARAUJO SILVA CONSULTORIA EM TECNOLOGIA DA INFORMACAO LTDA - 2024 - 41.635.631/0001-64
        <span> - Mais info <a href="https://sites.google.com/cesar.school/iadocentes?usp=sharing" target="_blank">aqui</a></span>
    </footer>
</body>
</html>
