<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfZap - Suporte a Docentes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="container">
        <div>
          <h1>ProfZap</h1>
          <p>Uma ferramenta de suporte a docentes</p>
        </div>
        <div>
          <img src="{{url_for('static', filename='img/Profzap.png')}}" alt="ProfZap Logo">
        </div>
    </div>
</body>
</html>
